{% extends 'base.html' %}

{% block content %}
    <h2>Это главная страница</h2>
    <a href="/api/index/">Разделы</a>
    <hr>
    <span style="font-size: larger;">🔍</span> <input type="text" name="" id="inp">
    <br><br>
    <div class="need-upd">
        {% for game in games %}
            <details id="new-details-content">
                <summary class="rr"><span class="s">{{game.name}}</span><a href="/api/edit/gam/{{game.id}}" title="Изменить игру"> ✏️ </a></summary> 

                {% if games[game] %}
                    {% for que in games[game] %}
                        <li class="rr"><span class="s">{{que.name}}</span><a href="/api/edit/que/{{que.id}}" title="Изменить вопрос"> ✏️ </a></li> 
                    {% endfor %}
                {% else %}
                    <l>Тут пусто</l>
                {% endif %}
            
            
                
            </details>
        {% endfor %}
    </div>
    <div id="question">
        <h2><a onclick="document.getElementById('question').style.display='none'">❌</a></h2>
        <h3>Вы хотите создать:</h3>
        <div>
            <a href="/api/create/gam/"><button class="btn btn-primary">Игра</button></a> 
            <a href="/api/create/que/"><button class="btn btn-primary" style="margin-right: 10px;">Вопрос</button></a>
        </div>   
    </div>
    <br>
    <a onclick="document.getElementById('question').style.display='block'">➕ Новая игра/вопрос</a>
    <script>
        var inp = document.getElementById("inp");
        var list_det = document.getElementsByClassName('need-upd')[0].getElementsByTagName('details');
        
        inp.oninput = function (){

            for (let i = 0; i < list_det.length; i++) {
                if (inp.value != '') {
                    console.log('open');
                    list_det[i].setAttribute('open', true);
                }
                else {
                    list_det[i].removeAttribute('open');
                }
                
                var list_rr = list_det[i].getElementsByClassName('rr')
                for (let j = 0; j < list_rr.length; j++) {

                    if (!list_rr[j].getElementsByClassName('s')[0].textContent.toLowerCase().includes(inp.value.toLowerCase())) {
                        $(list_rr[j]).hide();
                    }
                    else{
                        $(list_rr[j]).show();
                    }
                }
            }
        }
    </script>
{% endblock content %}