{% extends 'base.html' %}

{% block content %}
    <h2>Это главная страница</h2>
    <a href="/api/index/">Разделы</a>
    <hr>
    <input type="text" name="" id="inp">
    <div class="need-upd">
    {% for game in games %}
        <details>
            <summary class="rr"><span class="s">{{game.name}}</span><a href="/api/edit/gam/{{game.id}}">Изменить игру</a></summary> 
         
            {% for que in games[game] %}
                <li class="rr"><span class="s">{{que.name}}</span><a href="/api/edit/que/{{que.id}}">Изменить вопрос</a></li> 
            {% endfor %}
            
        </details>
    {% endfor %}</div>
    <div style="display: none; position: fixed;
    background-color: whitesmoke;
    top: 50%;
    left: 50%;
    border: 2px solid black;
    width: 500px;
    height: 600px;
    transform: translate(-50%, -50%);" id="question" >
        <a href="/api/create/gam/"><button style="text-align:center; margin-top: 50%; margin-left: 35%;">Игра</button></a> 
        
        <a href="/api/create/que/"><button>Вопрос</button></a>
    </div>
    <a onclick="document.getElementById('question').style.display='block'">Новая игра/вопрос</a>
    <script>
        var inp = document.getElementById("inp");
        var list_det = document.getElementsByClassName('need-upd')[0].getElementsByTagName('details');
        
        inp.oninput = function (){

            for (let i = 0; i < list_det.length; i++) {
                if (inp.value != '') {
                    console.log('open');
                    list_det[i].setAttribute('open', true);
                }
                else {
                    list_det[i].removeAttribute('open');
                }
                
                var list_rr = list_det[i].getElementsByClassName('rr')
                for (let j = 0; j < list_rr.length; j++) {

                    if (!list_rr[j].getElementsByClassName('s')[0].textContent.toLowerCase().includes(inp.value.toLowerCase())) {
                        $(list_rr[j]).hide();
                    }
                    else{
                        $(list_rr[j]).show();
                    }
                }
            }
        }
    </script>
{% endblock content %}