{% extends 'base.html' %}

{% block content %}
    <h2>Это главная страница</h2>
    <a href="/api/games/">Мини-игры</a>
    <hr>
    <span style="font-size: larger;">🔍</span> <input type="text" name="" id="inp">
    <br><br>
    <div class="need-upd">
        {% for sec in sections %}
            <details id="new-details-content">
                <summary class="rr"><span class="s">{{sec.name}}</span><a href="/api/edit/sec/{{sec.id}}" style="font-size: larger;" title="Изменить раздел"> ✏️ </a> </summary> 

                {% if sections[sec] %}
                    {% for exh in sections[sec] %}
                        <li class="rr"><span class="s">{{exh.name}}</span><a href="/api/edit/exh/{{exh.id}}" style="font-size: larger;" title="Изменить экспонат"> ✏️     </a>   <a href="/api/qr/{{exh.id}}/" style="font-size: larger; color: black; text-decoration: underline;" title="скачать QR-code экспоната">  QR </a></li> 
                    {% endfor %}
                {% else %}
                    <li>Тут пусто</li>
                {% endif %}
            
        
                
            </details>
        {% endfor %}
    </div>
    <div id="question">
        <h2><a onclick="document.getElementById('question').style.display='none'">❌</a></h2>
        <h3>Вы хотите создать:</h3>
        <div>
            <a href="/api/create/exh/"><button class="btn btn-primary">Экспонат</button></a> 
            <a href="/api/create/sec/"><button class="btn btn-primary" style="margin-right: 10px;">Раздел</button></a>
        </div>
       
    </div>
    <br>
    <a onclick="document.getElementById('question').style.display='block'">➕ Новый раздел/экспонат</a>
    <script>
        var inp = document.getElementById("inp");
        var list_det = document.getElementsByClassName('need-upd')[0].getElementsByTagName('details');
        
        inp.oninput = function (){

            for (let i = 0; i < list_det.length; i++) {
                if (inp.value != '') {
                    console.log('open');
                    list_det[i].setAttribute('open', true);
                }
                else {
                    list_det[i].removeAttribute('open');
                }
                
                var list_rr = list_det[i].getElementsByClassName('rr')
                for (let j = 0; j < list_rr.length; j++) {

                    if (!list_rr[j].getElementsByClassName('s')[0].textContent.toLowerCase().includes(inp.value.toLowerCase())) {
                        $(list_rr[j]).hide();
                    }
                    else{
                        $(list_rr[j]).show();
                    }
                }
            }
        }
    </script>
{% endblock content %}